<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <form action="/login" method="post">
            <label>Email: </label>
            <input type="text" placeholder="enter email" name="email" required>
            <br><br>
            <label>Password: </label>
            <input type="password" placeholder="enter password" name="password" required>
            <br><br>
            <button formaction="/login" type="submit">Login</button>
        </form>
    </body>
</html>