<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register Page</h1>
        <form action="/register" method="post">
            <label>First Name: </label>
            <input type="text" placeholder="first name" name="first_name" required>
            <br><br>
            <label>Last Name: </label>
            <input type="text" placeholder="last name" name="last_name" required>
            <br><br>
            <label>email : </label>
            <input type="text" placeholder="email" name="email" required>
            <br><br>
            <label>Password: </label>
            <input type="password" placeholder="password" name="password" required>
            <br><br>
            <button formaction="/register" type="submit">Register</button>
        </form>
    </body>
</html>